@model IEnumerable<App_consulta.Models.Responsable>

@{
    ViewData["Title"] = "Panel de control";
    ViewData["Subtitle"] = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h4>Dependencias</h4>
@if (ViewBag.error != null)
{
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.error
    </div>
}
<p>
    @Html.ActionLink("Nueva dependencia", "Create")
</p>
<table class="table font-smaller">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
      
        <th>
            Usuarios
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
           
            <td>
                @await Component.InvokeAsync("UsuariosFromResponsable", new { idResponsable = item.Id })

            </td>
            <td>
                <span class="button-inline small-button">
                    <a href='@Url.Action("Details", new { id=item.Id })' class="btn btn-default btn-sm" title="Detalles"><i class="fas fa-file-alt"></i></a>
                    <a href='@Url.Action("Edit", new { id=item.Id })' class="btn btn-default btn-sm" title="Editar"><i class="fas fa-edit"></i></a>
                    <a href='@Url.Action("Delete", new { id=item.Id })' class="btn btn-default btn-sm" title="Borrar"><i class="fas fa-trash"></i></a>
                </span>

            </td>
        </tr>
    }

</table>


